@{
    ViewData["Title"] = "Dashboard";
    string message = "";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }

}


<div>
    <div>
        @* <div>
        <h1>Pending Timelogs</h1>
        </div> *@
        <div class="content-filter">
            <div class="sub-content">
                <div class="mod-form">

                    <div class="action-navbar">
                        <div class="layer">
                            <div class="input-holder">
                                <span class="text-left text-dark">From:</span>
                                <div class="date-input">
                                    <input type="date" id="pot-datefrom" class="mod-inputs-nw" placeholder="Date" />
                                </div>
                            </div>
                            <div class="input-holder">
                                <span class="text-left text-dark">To:</span>
                                <div class="date-input">
                                    <input type="date" id="pot-dateto" class="mod-inputs-nw" placeholder="Date" />
                                </div>
                            </div>
                            @* <div class="input-holder">
                                <button class="btn btn-success" id="export-pot" title="Time Out" onclick="POTExportFunction()">
                                    <i class="fa-solid fa-file-arrow-down"></i> Export
                                </button>
                            </div> *@
                            @* <div class="input-holder">
                                <a href="#" class="text-white" id="" title="View" onclick="viewRejectedOT()">
                                    View <span id="StatusLabel" style="font-weight: 400">Rejected</span> Overtime <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div> *@
                            <div class="input-holder">
                                @* <span class="text-left text-dark">Months:</span> *@
                                <div class="date-input">
                                    <select id="pot-monthSelect" class="form-control"></select>
                                </div>
                            </div>

                            <div class="input-holder">
                                @* <span class="text-left">Filter User:</span> *@
                                <select id="potCuttOff">
                                    <option value="0" selected> First Cutt-off</option>
                                    <option value="1"> Second Cutt-off</option>
                                </select>
                            </div
                            <div class="input-holder">
                                <a href="#" class="text-white" id="" title="View" onclick="viewRejectedOT()">
                                    View <span id="StatusLabel" style="color: #fff;font-weight: 400">Rejected</span> Overtime <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="layer"> 
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-filter-tbl">
                <table id="pending-overtime-table" class="table table-bordered table-hover w-100">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
                <div id="table-footer">
                    <div class="customFilterButtonsContainer" id="">
                        <div class="customFilterButtons" id="customFilterButtons">
                            <button class="refresh-btn" id="refresh-ot" title="Refresh" onclick="initializeOTDataTable()">
                                <i class="fa-solid fa-arrow-rotate-right" style="color: #ffffff;"></i> Refresh
                            </button>
                            <button class="decline-btn" id="decline-ot" title="Reject" onclick="DeclineOvertime()">
                                <i class="fa-solid fa-circle-xmark" style="color: #ec1c24;"></i> Decline
                            </button>
                            <button class="approve-btn" id="approve-ot" title="Approve" onclick="ApproveOvertime()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 92 92" fill="none">
                                    <rect width="92" height="92" rx="46" fill="#205375"/>
                                    <path d="M66.4191 41.8339C67.3705 46.5033 66.6925 51.3577 64.4979 55.5877C62.3034 59.8176 58.7251 63.1674 54.3597 65.0783C49.9944 66.9893 45.1058 67.346 40.5093 66.0889C35.9128 64.8317 31.8861 62.0368 29.1009 58.1702C26.3157 54.3036 24.9402 49.599 25.2038 44.841C25.4674 40.083 27.3542 35.5591 30.5496 32.0239C33.745 28.4886 38.0557 26.1557 42.763 25.414C47.4702 24.6724 52.2895 25.567 56.417 27.9485" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M39.75 43.9154L46 50.1654L66.8333 29.332" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                                Approve
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {

    <script>
        $(document).ready(function () {

        });


    </script>
}