@{
    ViewData["Title"] = "Dashboard";
    string message = "";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }

}
<div>
    <div>

        <div class="content-filter">
            <div class="sub-content">
                <div class="mod-form">

                    <div class="action-navbar">
                        <div class="input-holder">
                            <span class="text-left">Filter User:</span>
                            <select id="selectUserLeavePending">
                                <option value="" selected disabled> Select User</option>
                            </select>
                            <button class="btn btn-warning" id="refresh-leave" title="Refresh">
                                <i class="fa-solid fa-arrows-rotate"></i> Refresh
                            </button>
                            <button class="btn btn-danger" id="decline-leave" title="Delete">
                                <i class="fa-solid fa-circle-minus"></i> Decline
                            </button>
                            <button class="btn btn-success" id="approve-leave" title="Approve" onclick="">
                                <i class="fa-solid fa-file-arrow-down"></i> Approve
                            </button>
                        </div>
                        <div class="date-input" style=" display: flex; gap: 15px; align-items: center;">
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-filter-tbl">
                <table id="pending-leave-table" class="table table-bordered table-hover w-100">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
                <div id="table-footer">
                </div>

            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script>


    </script>
}