@{
    ViewData["Title"] = "Salary Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = "";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }
}
@inject IHttpContextAccessor Accessor;
<div id="dashboard-main-container">
    <div class="title-main-container">
        <div class="content-container">
            <h4 style="font-size: 26px;" class="text-left">@ViewData["Title"].ToString()</h4>
            @Html.Partial("_UserDetails")
        </div>
    </div>
    <div class="main-container">
        @* <div class="mod-form action-navbar" style="margin-bottom: 2px;">
            <div class="input-container">
                <button class="btn btn-info" id="" title="Add New Deapartment" onclick="salaryModalOpen()">
                    <i class="fas fa-user-plus"></i> Create New Salary
                </button>
            </div>
        </div> *@

        <div class="mod-form action-navbar pos" id="action-navbar-salary" style="margin-bottom: 2px;">
            <div class="input-container">
                <a>Create new Salary </a>
                <button class="btn btn-info" id="add-pos" title="Add New Employee" onclick="salaryModalOpen()">
                    @* <i class="fas fa-user-plus"></i> Create Position *@ 
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 28 28"><path fill="currentColor" d="M9.5 4a4.5 4.5 0 1 0 0 9a4.5 4.5 0 0 0 0-9m-3 4.5a3 3 0 1 1 6 0a3 3 0 0 1-6 0M20 6a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7m-2 3.5a2 2 0 1 1 4 0a2 2 0 0 1-4 0M4.25 15A2.25 2.25 0 0 0 2 17.25v.531a2 2 0 0 0 .017.242c.017.153.049.363.11.612a5.1 5.1 0 0 0 .867 1.815C4.008 21.803 5.942 23 9.5 23c1.531 0 2.762-.222 3.747-.582a7.5 7.5 0 0 1-.236-1.518c-.836.355-1.97.6-3.511.6c-3.192 0-4.633-1.053-5.306-1.95a3.6 3.6 0 0 1-.61-1.279a3 3 0 0 1-.083-.508l-.001-.018v-.495a.75.75 0 0 1 .75-.75h9.905a7.5 7.5 0 0 1 1.168-1.426A2.3 2.3 0 0 0 14.75 15zM27 20.5a6.5 6.5 0 1 1-13 0a6.5 6.5 0 0 1 13 0m-6-4a.5.5 0 0 0-1 0V20h-3.5a.5.5 0 0 0 0 1H20v3.5a.5.5 0 0 0 1 0V21h3.5a.5.5 0 0 0 0-1H21z" /></svg>
                </button>
            </div>
            <div class="input-container delete-pos">
                <a>delete </a>
                <button class="btn btn-info" id="delete-pos" title="Add New Employee" onclick="MultiDeleteSalary()">
                    @* <i class="fas fa-user-plus"></i> Create Position *@ 
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z" /></svg>
                </button>
            </div>
        </div>

        <div class="content-filter-tbl">
            <table id="salary-table" class="table table-bordered table-hover w-100">
                <thead>
                </thead>
                <tbody>
                </tbody>

            </table>
            <div id="table-footer">
            </div>
        </div>
    </div>
    @* <div class="add-modal-holder" id="salary-modal">
        <div class="timelogsmodal">
            <div class="header">
                <h3>Add Salary Type</h3>
                <button class="closemodal" id="closemodal" aria-label="Close" onclick="salaryModalClose()"></button>
            </div>
            <form id="add-salary-form">
                <div class="input-holder">

                    <div class="input-holder" id="">
                        <span class="label">Sallary Type</span>
                        <div class="input-container">
                            <input type="hidden" id="salaryid" class="mod-inputs-nw" value="0" required />
                            <input type="hidden" id="salarycreatedby" class="mod-inputs-nw" value="@Accessor.HttpContext.Session.GetString("UserID")" required />
                            <input type="text" id="salarytype" class="mod-inputs-nw" placeholder="" required />
                        </div>
                    </div>
                    <div class="input-holder" id="">
                        <span class="label">Description</span>
                        <div class="input-container">
                            <input type="text" id="salarydescription" class="mod-inputs-nw" placeholder="" required />
                        </div>
                    </div>
                    <div class="input-holder">
                        <span class="label" for="">Rate</span>

                        <div class="input-container">
                            <input type="number" id="salaryrate" class="mod-inputs-nw" placeholder="" required />
                        </div>
                    </div>
                    <div class="input-holder">
                        <div class="input-container">
                            <input type="submit" value="Submit" id="add-timeout" />
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div> *@
</div>
<div class="pencil-action" id="salarypencil-action" onclick="salaryActionFunction();">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M6.414 15.89L16.556 5.748l-1.414-1.414L5 14.476v1.414zm.829 2H3v-4.243L14.435 2.212a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414zM3 19.89h18v2H3z" /></svg>
</div>
@await Html.PartialAsync("~/Views/Salary/_SalaryForm.cshtml")

@section Scripts {
    <script>
        var salarymodal = document.getElementById('salarymodal');
        var actionsalary = document.getElementById('action-navbar-salary');
        var pencilsalary = document.getElementById('salarypencil-action');
        var defaultCreatedBy = '@Accessor.HttpContext.Session.GetString("UserID")';
        $(document).ready(function () {

            initializeSalaryDataTable();
            // fetchmanagerselect();
            salaryDOM();
        });
        


    </script>
}