@{
    ViewData["Title"] = "Position Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = "";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }
}
<style>
    
</style>
<div id="dashboard-main-container">
    <div class="title-main-container">
        <div class="content-container">
            <h4 style="font-size: 26px;" class="text-left">@ViewData["Title"].ToString()</h4>
            @Html.Partial("_UserDetails")
        </div>

    </div>
    <div class="main-container">

        @* <div class="mod-form action-navbar" style="margin-bottom: 2px;">
            <div class="input-container">
                <button class="btn btn-info" id="add-pos" title="Add New Employee" onclick="myFunctionOpenModal()">
                    <i class="fas fa-user-plus"></i> Create Position
                </button>
            </div>
        </div>

        </div style=" display: flex;flex-direction: column;> 
        <div id="register-table_wrapper" class="dataTables_wrapper no-footer" style="width:100%">
            <table id="pos-table" class="myTableLarge">
                <thead>
                </thead>
                <tbody>
                </tbody>

            </table>
        </div> *@
        <div class="content-filter">
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'Tab1')">Position</button>
                <button class="tablinks" onclick="openTab(event, 'Tab2')" id="leavefiling">Position Level</button>
            </div>
            <div id="Tab1" class="tab-content active">
                @await Html.PartialAsync("~/Views/Position/_Position.cshtml")
            </div>
            <div id="Tab2" class="tab-content">
                @await Html.PartialAsync("~/Views/Position/_PositionLevel.cshtml")
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Position/_PositionForm.cshtml")
    @await Html.PartialAsync("~/Views/Position/_PositionLevelForm.cshtml")
</div>

@* @await Html.PartialAsync("~/Views/Position/_PositionModal.cshtml") *@
@* <div class="modal" id="positionmodal" tabindex="-1" role="dialog" aria-labelledby="modal-title"
     aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog modal-error-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-name">Position Details Form</h4>
                <button type="button" id="h-close" class="close" data-dismiss="modal" aria-hidden="false" onclick="myFunction()">x</button>
            </div>
            <div class="" style="margin:10px">

                <form action="" class="mod-form" id="submitpos">

                    <div class="mod-form-row">
                        <div class="input-container-whole">
                            <label for="employeeID">Position Name<span class="req">*</span></label>

                            <input type="hidden" value="" id="posid" class="mod-input" />
                            <input type="hidden" value="" id="posdate" class="mod-input" />
                            <input type="text" value="" id="posname" class="mod-input" required />
                        </div>

                    </div>
                    <div class="mod-form-row">
                        <div class="input-container-whole">
                            <label for="email">Position Description</label>
                            <input type="text" value="" id="desc" class="mod-input" />
                        </div>
                    </div>


                    <div class="actions" style="align-items: center;">
                        <div class="actionss">
                            @* <button class="register" type="button" style ="margin-bottom: 5px;font-size: 13px;    padding: 5px 15px 5px 5px;height: 25px;font-size: clamp(0.5rem, 2vw, 0.7rem);" title="Add New" id="add Mechanics"><i class="fas fa-id-card"></i>Add Mechanics</button> *@
@* <input type="button" value="Add Mechanics" id="btn-register"/> <i class="fas fa-cogs"></i> 

                        </div>

                        <a data-dismiss="modal" aria-hidden="false" style="cursor:pointer" class="cancel"><u>Cancel</u></a>
                        <input type="submit" value="Submit" id="btn-save" />
                    </div>
                </form>


            </div>
        </div>
    </div>

</div> *@


@section Scripts {
    <script>
        var pmodal = document.getElementById('positionmodal');
        var actionPos = document.getElementById('action-navbar-pos');
        var pencil = document.getElementById('pencil-action');


        var plmodal = document.getElementById('positionlevelmodal');
        var actionPosLvl = document.getElementById('action-navbar-poslevel');
        var pencilPosLvl = document.getElementById('pencil-action-poslevel');
        position();
        $(document).ready(function () {

            initializePositionDataTable();
            initializePositionLevelDataTable();
            // alert(tableId);

        });
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;

            // Hide all tab contents
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            // Remove active class from all tab buttons
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("active");
            }

            // Show the current tab and add active class
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.classList.add("active");
        }




    </script>
}